@import 'tailwindcss';

:root {
  --foreground: #190b04;
  --background: #f9eed7;
  --background2: #f1e9b3;
  --backgroundLight: #fee9bb;
  --accent: #d13107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f9eed7;
    --background: #190b04;
    --background2: #0b0502;
    --backgroundLight: #281207;
    --accent: #d13107;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(var(--background), var(--background2));
}
a:hover {
  text-decoration: underline;
}
main {
  @apply p-6 flex-1;
}
header {
  @apply flex py-6 pb-10 justify-between;
}
h2 {
  @apply text-2xl font-semibold;
}
header a {
  @apply flex justify-center items-center gap-2;
}
aside {
  @apply max-h-screen w-60 bg-[var(--background2)];
}
aside > div {
  @apply fixed h-full flex flex-col p-6;
}
aside h1 {
  @apply flex gap-4 text-2xl font-semibold py-6 pb-10;
}
aside nav {
  @apply flex-1;
}
aside ul {
  @apply flex flex-col gap-3 list-inside list-disc;
}
.myForm {
  @apply py-6;
}
.myForm div {
  @apply mb-4;
}
.myForm label {
  @apply block text-sm font-bold mb-2;
}
.myForm input,
.myForm textarea {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-[var(--background)] leading-tight;
}
.btn {
  @apply max-w-fit bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
.btn.danger {
  @apply bg-red-500 hover:bg-red-700;
}
.btn.secondary {
  @apply bg-gray-500 hover:bg-gray-700;
}
.myTable {
  @apply grid gap-3 border border-dashed rounded-3xl p-6 min-h-fit;
}
.cols3 {
  @apply grid-cols-4;
}
